Package: com.aosaid.appdatamgr
Name: AppData Manager
Version: 1.4.0
Architecture: iphoneos-arm64
Description: Professional iOS App Data Manager - Wipe, Backup & Restore
Maintainer: ZAIN <@Zainqkvd>
Author: ZAIN <@Zainqkvd>
Section: Utilities
Depends: firmware (>= 15.0)
