Package: com.aosaid.appdatamgr
Name: AppData Manager
Version: 1.1.1
Architecture: iphoneos-arm64
Description: Professional app data wipe & backup tool. Rootless/Dopamine 3.0 compatible. iOS 15-18 supported.
Maintainer: aosaid3224 <aosaid3224@github.com>
Author: aosaid3224 <aosaid3224@github.com>
Section: Utilities
Depends: firmware (>= 15.0)
Priority: optional
